In [1]:
#upload dataset
# manual split
# split using the sklearn.model_selection

In [2]:
import pandas as pd

In [5]:
#header none means no header is given to the data and dont make the first row as header. name is list of new header, it is optional
# in mycase there was an header that shifted as a row so i delete that in below step
data  = pd.read_csv('iris.csv', header=None, names=['sl','sw','pl','pw','labels'])

In [14]:
data

      sl   sw   pl   pw     labels
1    5.1  3.5  1.4  0.2     setosa
2    4.9  3.0  1.4  0.2     setosa
3    4.7  3.2  1.3  0.2     setosa
4    4.6  3.1  1.5  0.2     setosa
5    5.0  3.6  1.4  0.2     setosa
..   ...  ...  ...  ...        ...
146  6.7  3.0  5.2  2.3  virginica
147  6.3  2.5  5.0  1.9  virginica
148  6.5  3.0  5.2  2.0  virginica
149  6.2  3.4  5.4  2.3  virginica
150  5.9  3.0  5.1  1.8  virginica

[150 rows x 5 columns]

In [12]:
data.drop(0, inplace=True)

In [13]:
data

      sl   sw   pl   pw     labels
1    5.1  3.5  1.4  0.2     setosa
2    4.9  3.0  1.4  0.2     setosa
3    4.7  3.2  1.3  0.2     setosa
4    4.6  3.1  1.5  0.2     setosa
5    5.0  3.6  1.4  0.2     setosa
..   ...  ...  ...  ...        ...
146  6.7  3.0  5.2  2.3  virginica
147  6.3  2.5  5.0  1.9  virginica
148  6.5  3.0  5.2  2.0  virginica
149  6.2  3.4  5.4  2.3  virginica
150  5.9  3.0  5.1  1.8  virginica

[150 rows x 5 columns]

In [15]:
#manual dividing

In [16]:
# input = x
# output = y
# divide into x and y

In [18]:
x= data.iloc[:,:4] # give all the rows but in column give from 0 to 3
x

      sl   sw   pl   pw
1    5.1  3.5  1.4  0.2
2    4.9  3.0  1.4  0.2
3    4.7  3.2  1.3  0.2
4    4.6  3.1  1.5  0.2
5    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
146  6.7  3.0  5.2  2.3
147  6.3  2.5  5.0  1.9
148  6.5  3.0  5.2  2.0
149  6.2  3.4  5.4  2.3
150  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [19]:
y= data.iloc[:,4] #I want all the rows but the only 4th column i want
y

1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
         ...
146    virginica
147    virginica
148    virginica
149    virginica
150    virginica
Name: labels, Length: 150, dtype: object

In [20]:
# Dividing into the training and testing
# lets divide the x first

In [21]:
x_train = x.iloc[:100] #I want the first 100 records, it begain with 0 so remember we have deleted the 0th row so it begain with 1
x_train

      sl   sw   pl   pw
1    5.1  3.5  1.4  0.2
2    4.9  3.0  1.4  0.2
3    4.7  3.2  1.3  0.2
4    4.6  3.1  1.5  0.2
5    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
96   5.7  3.0  4.2  1.2
97   5.7  2.9  4.2  1.3
98   6.2  2.9  4.3  1.3
99   5.1  2.5  3.0  1.1
100  5.7  2.8  4.1  1.3

[100 rows x 4 columns]

In [23]:
x_test= x.iloc[100:]
x_test

      sl   sw   pl   pw
101  6.3  3.3  6.0  2.5
102  5.8  2.7  5.1  1.9
103  7.1  3.0  5.9  2.1
104  6.3  2.9  5.6  1.8
105  6.5  3.0  5.8  2.2
106  7.6  3.0  6.6  2.1
107  4.9  2.5  4.5  1.7
108  7.3  2.9  6.3  1.8
109  6.7  2.5  5.8  1.8
110  7.2  3.6  6.1  2.5
111  6.5  3.2  5.1  2.0
112  6.4  2.7  5.3  1.9
113  6.8  3.0  5.5  2.1
114  5.7  2.5  5.0  2.0
115  5.8  2.8  5.1  2.4
116  6.4  3.2  5.3  2.3
117  6.5  3.0  5.5  1.8
118  7.7  3.8  6.7  2.2
119  7.7  2.6  6.9  2.3
120  6.0  2.2  5.0  1.5
121  6.9  3.2  5.7  2.3
122  5.6  2.8  4.9  2.0
123  7.7  2.8  6.7  2.0
124  6.3  2.7  4.9  1.8
125  6.7  3.3  5.7  2.1
126  7.2  3.2  6.0  1.8
127  6.2  2.8  4.8  1.8
128  6.1  3.0  4.9  1.8
129  6.4  2.8  5.6  2.1
130  7.2  3.0  5.8  1.6
131  7.4  2.8  6.1  1.9
132  7.9  3.8  6.4  2.0
133  6.4  2.8  5.6  2.2
134  6.3  2.8  5.1  1.5
135  6.1  2.6  5.6  1.4
136  7.7  3.0  6.1  2.3
137  6.3  3.4  5.6  2.4
138  6.4  3.1  5.5  1.8
139  6.0  3.0  4.8  1.8
140  6.9  3.1  5.4  2.1
141  6.7  3.1  5.6  2.4
142  6.9  3.1  5.1  2.3
143  5.8  2.7  5.1  1.9
144  6.8  3.2  5.9  2.3
145  6.7  3.3  5.7  2.5
146  6.7  3.0  5.2  2.3
147  6.3  2.5  5.0  1.9
148  6.5  3.0  5.2  2.0
149  6.2  3.4  5.4  2.3
150  5.9  3.0  5.1  1.8

In [24]:
y_train = y.iloc[:100]
y_train

1          setosa
2          setosa
3          setosa
4          setosa
5          setosa
          ...
96     versicolor
97     versicolor
98     versicolor
99     versicolor
100    versicolor
Name: labels, Length: 100, dtype: object

In [25]:
y_test = y.iloc[100:]
y_test

101    virginica
102    virginica
103    virginica
104    virginica
105    virginica
106    virginica
107    virginica
108    virginica
109    virginica
110    virginica
111    virginica
112    virginica
113    virginica
114    virginica
115    virginica
116    virginica
117    virginica
118    virginica
119    virginica
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
150    virginica
Name: labels, dtype: object

In [27]:
# now notice in the above data that the data is not well divided in training and testing like diffferent set of data in both

# So now automate the division using the sklearn and let see how it divide the data

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=30, random_state=1) #divide by 100-30% ratio

In [30]:
x_train

      sl   sw   pl   pw
92   6.1  3.0  4.6  1.4
136  7.7  3.0  6.1  2.3
70   5.6  2.5  3.9  1.1
129  6.4  2.8  5.6  2.1
115  5.8  2.8  5.1  2.4
..   ...  ...  ...  ...
134  6.3  2.8  5.1  1.5
138  6.4  3.1  5.5  1.8
73   6.3  2.5  4.9  1.5
141  6.7  3.1  5.6  2.4
38   4.9  3.1  1.5  0.1

[120 rows x 4 columns]

In [31]:
y_train

92     versicolor
136     virginica
70     versicolor
129     virginica
115     virginica
          ...
134     virginica
138     virginica
73     versicolor
141     virginica
38         setosa
Name: labels, Length: 120, dtype: object

In [32]:
y_test

15         setosa
99     versicolor
76     versicolor
17         setosa
132     virginica
57     versicolor
142     virginica
45         setosa
30         setosa
121     virginica
95     versicolor
6          setosa
103     virginica
52     versicolor
79     versicolor
43         setosa
93     versicolor
67     versicolor
32         setosa
36         setosa
91     versicolor
85     versicolor
78     versicolor
41         setosa
126     virginica
100    versicolor
34         setosa
20         setosa
74     versicolor
147     virginica
Name: labels, dtype: object

In [ ]:
# how well the data is divide in the training and the test dataset